# File managed by Ansible [sudoers role]

{% if ansible_os_family == 'RedHat' %}
User_Alias DESKTOP_USERS = %wheel
{% else %}
User_Alias DESKTOP_USERS = %sudo
{% endif %}

Cmnd_Alias SYSADMIN_BASICS = /usr/bin/vim, \
	/usr/bin/rsync, \
	/usr/bin/cp, \
	/usr/sbin/lvs, \
	/usr/sbin/vgs, \
	/usr/sbin/pvs, \
	/usr/sbin/lvdisplay, \
	/usr/sbin/vgdisplay, \
	/usr/sbin/pvdisplay, \
	/usr/bin/mkdir, \
	/usr/bin/cat, \
	/bin/cat, \
	/usr/bin/tail, \
	/usr/bin/head, \
	/usr/sbin/pvs, \
	/usr/sbin/vgs, \
	/usr/sbin/lvs

Cmnd_Alias SYSADMIN_EXTENDED = /bin/systemctl, \
	/usr/sbin/lvextend, \
	/usr/sbin/lvcreate, \
	/usr/sbin/vgextend, \
	/usr/sbin/vgcreate, \
	/usr/sbin/pvextend, \
	/usr/sbin/pvcreate, \
	/usr/bin/chmod, \
	/usr/bin/chown, \
	/usr/bin/find, \
	/usr/sbin/useradd, \
	/usr/sbin/usermod, \
	/usr/sbin/groupadd, \
	/usr/sbin/groupmod, \
	/usr/bin/setfacl

Cmnd_Alias SYSADMIN_NE_EXTENDED = /usr/bin/vim, \
	/usr/bin/vi

# General rules for the workstation
DESKTOP_USERS ALL=(root) NOPASSWD: SYSADMIN_BASICS, SYSADMIN_EXTENDED, NOEXEC: SYSADMIN_NE_EXTENDED
