# File managed by Ansible [sudoers role]

{% if user_alias is defined and user_alias | length > 0 %}
{% for item in user_alias %}
User_Alias {{ item.alias | upper }} = {{ item.users }}
{% endfor %}
{% endif %}

{% if runas_alias is defined and runas_alias | length > 0 %}
{% for item in runas_alias %}
Runas_Alias {{ item.alias | upper }} = {{ item.users }}
{% endfor %}
{% endif %}

{% if host_alias is defined and host_alias | length > 0 %}
{% for item in host_alias %}
Host_Alias {{ item.alias | upper }} = {{ item.hosts }}
{% endfor %}
{% endif %}

{% if defaults is defined and defaults | length > 0 %}
{% for item in defaults %}
Defaults:{{ item.user }}	{{ item.rule }}
{% endfor %}
{% endif %}

{% if cmnd_alias is defined and cmnd_alias | length > 0 %}
{% for item in cmnd_alias %}
Cmnd_Alias {{ item.alias | upper }} = \
{% for command in item.commands.split(",") %}
  {{ command | regex_replace('^ ') }}{% if not loop.last %}, \{% endif %}

{% endfor %}

{% endfor %}
{% endif %}

{% if user_specifications is defined and user_specifications | length > 0 %}

{% if comment_alias is defined and comment_alias | length > 0 %}
{% for comment in comment_alias %}########## Inicio {{ comment.message | upper }} ##########
{% for item in user_specifications if item.comment_alias is defined %}
{% if item.comment_alias | upper == comment.alias | upper %}
{{ item.user }} {% if item.permission is not defined %}ALL=(root){% else %}{{ item.permission.split(",")[0] }}=({{ item.permission.split(",")[1] }}){% endif %} {{ item.commands }}
{% endif %}
{% endfor %}########## Fin {{ comment.message | upper }} ##########

{% endfor %}
{% endif %}
########## Inicio BLOQUE DE CODIGO SIN COMENTAR ##########
{% for item in user_specifications if item.comment_alias is not defined %}
{{ item.user }} {% if item.permission is not defined %}ALL=(root){% else %}{{ item.permission.split(",")[0] }}=({{ item.permission.split(",")[1] }}){% endif %} {{ item.commands }}
{% endfor %}
########## Fin BLOQUE DE CODIGO SIN COMENTAR ##########

{% endif %}
